@model BibliSharp.DbModels.Usuario
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    //cria a tag do formulário
@Html.AntiForgeryToken() // previne o ataque CSRF
@Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
<div style="border:1px solid red">
    @ViewBag.Message
</div>
    }
<div class="absoluto">

        <div class="formulario-de-login">
                <div class="username">
                        <div class="paragrafo-usuario">@Html.LabelFor(a => a.NomeUsuario,"Usuario")</div>
                        <div class="input-usuario">@Html.TextBoxFor(a => a.NomeUsuario)</div>
                        <div>@Html.ValidationMessageFor(a => a.NomeUsuario)</div>
                </div>
                <div class="password">
                        <div class="paragrafo-senha"> @Html.LabelFor(a => a.Senha)</div>
                        <div class="input-senha"> @Html.PasswordFor(a => a.Senha) </div>
                        <div> @Html.ValidationMessageFor(a => a.Senha) </div>
                </div>
                <div>
                        <div class="botao-login">
                            <input type="submit" value="Entrar" />
                        </div>
        
                </div>
        </div>
</div>
    }