@model IEnumerable<BibliSharp.Models.DetailsEmprestismoViewModel2>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Empréstimos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
    <label> | </label>
    <a asp-action="VerSemDevolucao"> Ver Livros que Faltam</a>
    <label> | </label>
    <a asp-action="Index"> Ver Todos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome do Livro
            </th>
            <th>
                Nome da Pessoa
            </th>
            <th>
                Turma
            </th>
            <th>
                Periodo
            </th>
            <th>
                Data Retirada
            </th>
            <th>
                Criado Por
            </th>
            <th>
                Data Limite
            </th>
            <th>
                Data Entrega
            </th>
            <th>
                Alterado Por
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emprestismo.EmprestismoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlunoPeriodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlunoTurma)
            </td>

            <td>
                    @Html.DisplayFor(modelItem => item.Emprestismo.DataRetirada)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Emprestismo.CriadoPor)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Emprestismo.DataLimite)
            </td>
            <td>
                    @if (item.Emprestismo.DataEntrega != DateTime.MinValue)
                        @Html.DisplayFor(modelItem => item.Emprestismo.DataEntrega)

            </td>
            <td>
                    @if (item.Emprestismo.DataEntrega != DateTime.MinValue)
                        @Html.DisplayFor(modelItem => item.Emprestismo.AlteradoPor)

            </td>
            <td>
                    @if (item.Emprestismo.DataEntrega == DateTime.MinValue)
                {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Emprestismo.EmprestismoId })
                    <label> | </label>
                        @Html.ActionLink("Details", "Details", new { id = item.Emprestismo.EmprestismoId })
                }
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
